.page-content {
  width: 960px;
  margin: 0 auto;
  overflow:auto;
  display:flex;
  flex-direction:row;
}
.profiles {
  box-sizing:border-sizing;
  width: 40%;
}
main {
  box-sizing:border-sizing;
  width: 60%;
  background-color: #cabb94;
  text-align: left;
  border-radius: 5px;
  margin:10px 0 0 10px;
}
footer {
  height: 230px;
  width: 960px;
  padding: 2px;
  margin:15px auto;
  background-color: #524D70;
  border-radius: 5px;
  color: #fffdee;
}
